<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>217411643156-nku45f2tuamk229e61lnqb6nohmmj7m9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.217411643156-nku45f2tuamk229e61lnqb6nohmmj7m9</string>
	<key>API_KEY</key>
	<string>AIzaSyCZQ5QoEdI8YC_XfYGOvX1-bMDLcHsjeSk</string>
	<key>GCM_SENDER_ID</key>
	<string>217411643156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.mycontainers.stow</string>
	<key>PROJECT_ID</key>
	<string>stow-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>stow-backend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:217411643156:ios:39fb0cc5e915f6a1a64401</string>
</dict>
</plist>
